<div class="header">
    <div class="left-content">
        <a routerLink="/home" style="text-decoration: none;">
            <img src="/assets/VA.png" alt="Image description" width="200" height="100">
            <!-- <h1 class="title">VA</h1> -->
        </a>
    </div>
    <div class="right-content">
      <a class="about" href="https://www.linkedin.com/in/vipul-aggarwal-546169171/" target="_blank">LinkedIn</a>
      <a class="resume" href="https://drive.google.com/file/d/1EM2US0E6SpZ_CB0dWPnlGAAd2sTksKU9/view?usp=sharing"  target="_blank">Resume</a>
      <!-- <a class="contact" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a> -->
    </div>
  </div>