.hero{
    padding-top: 2rem;
}

.container{
    text-align: center;
    padding: 2rem 3rem;
}

.title{
    font-family: "eurostile", sans-serif;
    line-height: 0.125;
    font-size: 3rem !important;
}

.subtitle{
    font-weight: 400;
    font-family: "europa", sans-serif;
    line-height: 1.5;
}

.avatar{
    width: 250px;
    border-radius: 140px;
    margin: 2rem 0;
}

.footer{
    margin: 0px -8px;
}

.setup{
    width: 100%;
}

.about{
    background-color: #9a6eea;
    margin: -5px -8px;
}

.info{
    text-align: center;
    padding: 10rem 15rem;
    color: white;
}


.content{
    display: flex;
    margin-top: -100px;
    text-align: center;
    justify-content: center;
}

.card{
    border: 1px solid white;
    max-width: 450px;
    /* height: 200px; */
    margin-right: 16px !important;
    margin-left: 16px !important;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    padding: 70px 50px;
}

.content .title{
    font-size: 1.8rem !important;
    margin-bottom: 1.5em
}

.content p{
    font-size: 1.05em;
}

.list-title{
    color: #9a6eea;
    font-size: 1.3em !important;
    margin-top: 50px;
}

ul{
    list-style: none;
    padding-inline-start: initial;
}

.experience{
    /* display: grid; */
    text-align: center;
    justify-content: center;
}

.experience .title{
    padding-top: 150px;
    padding-bottom: 60px;
    font-size: 2.5rem !important;
}

.details{
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 5px;
    height: 70px;
    border: solid;
    border-radius: 10px;
    background-color:#9a6eea ;
    color: white;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.sub-title{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;  
    align-items: center;
}

.position{
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
}

.year{
    margin-right: -130px;
}

.description{
    margin-left: 27%;
    margin-right: 27%;
    margin-bottom: 5px;
    border-radius: 10px;
    /* background-color:#3bca9e ; */
    background-color: #938495;
    color: white;
    padding-bottom: 20px;
}

hr{
    margin-top: -10px;
    width: 95%;
}

.location{
    display: flex;
    padding: 20px 30px;
}

.work{
    display: flex;
    padding-left: 30px;
    text-align: left;
}

.logo{
    width: 110px;
    height: 130px;
}

.tools{
    display: flex;
    padding: 0px 30px;
    flex-wrap: wrap;
}

.tool{
    margin: 5px 10px;
    background-color: #675869;
    padding: 6px 20px;
    border-radius: 10px;
}